.button {
  @apply font-semibold rounded-sm gap-2 centered px-4 h-[39.5px];
  font-family: var(--font-sf-pro-display), sans-serif;
  font-size: 16px;
  min-width: 104px;
  line-height: 22px;
  max-height: unset !important;
  font-weight: 500;
  padding-block: 6px !important;
  z-index: 1;
  //transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .4s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  text-overflow: ellipsis;
  outline: 0 solid rgba(255, 145, 0, 0.40);

  &:hover {
    outline: 4px solid rgba(255, 145, 0, 0.40);
  }
}


.button svg {
  width: 16px;
  height: 16px;
}

.button[data-icon-hover="true"],
.button[data-icon-hover="true"]:focus,
.button[data-icon-hover="true"]:active {
  @apply gap-0;

  span:first-child {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background-color .4s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    width: 0 !important;
    overflow: hidden;
  }
}

.button[data-icon-hover="true"]:hover {
  @apply gap-2;

  span:first-child {
    width: 16px !important;
  }
}

.small {
  min-width: unset !important;
}

.iconContainer {
  @apply centered;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  max-height: 16px;
  //overflow: hidden;
}


.buttonPrimary {
  color: white;
  fill: white;
  background: var(--color-primary-gradient);
  box-shadow: 0 10px 10px -7px rgba(204, 116, 0, 0.20);
  border: 1px solid var(--color-primary);

  &:hover {
    background: var(--color-primary-gradient-hover) !important;
  }

  &:active {
    box-shadow: 0 3px 2px -1px rgba(204, 116, 0, 0.20) !important;
  }

  &:disabled {
    background: var(--color-gray-500);
    color: white;
    fill: white;
  }
}


.buttonSecondary {
  @apply bordered font-normal;
  color: var(--color-primary);
  fill: var(--color-primary);

  &:disabled {
    color: var(--color-gray-500);
    fill: var(--color-gray-500);
  }
}

.buttonMono {
  color: var(--color-gray-500);
}

.buttonMashed {
  @apply bordered centered bg-background;
  width: 36px !important;
  height: 38px !important;
  min-width: 34px !important;
  min-height: unset;
  padding: 0 !important;
  color: var(--color-gray-600);

  & > *, & > svg {
    width: 16px;
    height: 16px;
  }
}


.buttonMashed, .buttonSecondary {
  fill: var(--color-gray-600);
  stroke: var(--color-gray-600);
}

.buttonMashed:hover, .buttonSecondary:hover {
  @apply icon-col-primary
}

.buttonMashed:active, .buttonSecondary:active {
  @apply icon-col-primary
}