@import "../common/form-item";

.lib-select {
  display: block;
  height: $dimension-h-item !important;
  max-height: $dimension-h-item !important;
  font-size: 16px !important;
}


.lib-select .ant-select-selector {
  @include form-item;
  @include form-item-wrapper;
}

.lib-select .ant-select-selector,
.lib-select .ant-select-selection-item,
.lib-select .ant-select-selection-search,
.lib-select .ant-select-selection-search-input {
  height: $dimension-h-item !important;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.lib-select .ant-select-selection-placeholder {
  @include form-placeholder;
}

.lib-select .ant-select-arrow {
  margin-inline-end: 2px;
}

.ant-select-clear {
  margin-inline-end: 2px;
}



