@import "../common/form-item";

.lib-input-area .ant-form-item-control {
  min-height: calc($dimension-h-item + 10px);

}

.lib-input-area .ant-input-affix-wrapper {
  padding-block: 0 !important;
  @include form-item-wrapper;
}

.lib-input-area .ant-input {
  @include form-item;
  height: calc($dimension-h-item + 120px);
  min-height: calc($dimension-h-item + 10px);
  padding-top: 12px;

}

.lib-input-area textarea::-webkit-input-placeholder,
.lib-input-area textarea::placeholder {
  @include form-placeholder;
}
