@import "../common/form-item";

$icon-size: 22px;

.uploaderWrapper, .uploaderWrapper .ant-upload {
  width: 100% !important;
  height: 54px;
}

.ant-form-item-has-error .uploader {
  border-color: var(--color-red) !important;
}

.uploader {
  width: 100%;
  height: 100% !important;
  justify-content: flex-start !important;
  gap: 12px !important;
  border-color: var(--color-primary) !important;

  .ant-btn-icon, .ant-btn-icon > div {
    width: $icon-size !important;
    height: $icon-size !important;
    max-width: $icon-size !important;
    max-height: $icon-size !important;
  }

  svg {
    width: $icon-size !important;
    height: $icon-size !important;
  }
}

//.uploaderWrapper {
//  @apply min-h-[72px] relative rounded-sm cursor-pointer select-none bg-white;
//  border: 1px solid var(--color-primary);
//
//
//
//  .uploader {
//    @apply  absolute inset-0 gap-2 rounded-none column-center justify-center m-0   font-normal;
//    transition: all ease-in-out 0.2s;
//    box-shadow: none;
//  }
//
//  .removeButton {
//    @apply absolute top-[18px] right-[17px] z-[2] fill-white stroke-white;
//  }
//
//  strong {
//    @apply text-primary underline;
//  }
//
//  p {
//    @apply w-full px-3;
//  }
//
//  .placeholder {
//    @include form-placeholder;
//    @apply text-primary row gap-2;
//  }
//
//  .files {
//    @apply line-clamp-1 ;
//    span {
//      @apply line-clamp-1 inline;
//    }
//
//    strong {
//      @apply text-primary underline font-normal;
//    }
//  }
//
//}
//
//.uploaderWrapper[data-exist=true] {
//  @apply bg-white bordered;
//
//  .uploader {
//    @apply bg-gray-100 inset-1  text-gray-700 p-4 rounded-sm;
//    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
//
//    strong {
//      @apply text-primary underline font-normal;
//    }
//
//  }
//
//  &:hover {
//    strong {
//      @apply text-blue-700 ;
//    }
//  }
//
//}
//
