$dimension-h-item: 40px;
$item-dimension-padding-inline: 8px;
$item-font-size: 16px;
$item-color-font: var(--color-font-2);
$item-color-font-placeholder: var(--color-font-5);
$item-font-weight: 400;
$item-line-height: 150%;

$label-padding: 0;
$label-margin-bottom: 4px;
$label-font-size: 14px;
$label-color-font: var(--color-font-2);
$label-font-weight: 500;

$item-dimension-h-lg: 54px;
$item-dimension-padding-inline-lg: 12px;
$item-color-font-lg: var(--color-font-1);
$item-font-size-lg: 16px;
$item-font-weight-lg: 500;

$label-margin-bottom-lg: 0px;
$label-font-size-lg: 17px;
$label-color-font-lg: var(--color-font-1);
$label-font-weight-lg: 500;

$font-family: var(--font-sf-pro-display);

@mixin form-item-wrapper {
  //padding-inline-start: 1px !important;
  border-radius: var(--rounded-sm) !important;
  border: 1px solid var(--color-border);
  padding-inline: $item-dimension-padding-inline;
}

@mixin form-item {
  padding-inline: $item-dimension-padding-inline;
  font-size: $item-font-size !important;
  color: $item-color-font;
  font-weight: $item-font-weight;
  line-height: $item-line-height;
  font-family: $font-family;
}

@mixin form-item-lg {
  @include form-item;
  height: $item-dimension-h-lg;
  padding-inline: $item-dimension-padding-inline-lg;
  font-size: $item-font-size-lg !important;
  color: $item-color-font-lg;
  font-weight: $item-font-weight-lg;
}

@mixin form-label-wrapper {
  padding: $label-padding !important;
  padding-bottom: $label-margin-bottom !important;
}

@mixin form-label {
  flex-direction: row-reverse;
  gap: 2px;
  margin-bottom: $label-margin-bottom;
  font-size: $label-font-size !important;
  font-weight: $item-font-weight !important;
  font-family: $font-family;
  color: $label-color-font;
}

@mixin form-label-lg {
  @include form-label;
  margin-bottom: $label-margin-bottom-lg;
  font-size: $label-font-size-lg !important;
  font-weight: $label-font-weight-lg !important;
  color: $label-color-font-lg;
}

@mixin form-placeholder {
  font-weight: $item-font-weight;
  color: $item-color-font-placeholder;
}


@mixin form-placeholder-lg {
  font-weight: $item-font-weight-lg;
}