.boxContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding-bottom: 44px;
}

.label {
  @apply paragraph1;
  color: var(--color-font-1);
}

.field {
  padding: 16px 26px;
  border: 1px solid var(--color-divider);
  border-radius: 4px;
}

.field::placeholder {
  @apply paragraph1 !important;
  color: var(--color-font-4) !important;
}

.boxContainer:has(p) > *:nth-child(2) {
  border: solid 1px var(--color-red) !important;
  border-bottom: solid 2px var(--color-red) !important;
  transition: 1ms !important;
}

.boxContainer:has(p) .label {
  color: var(--color-red);
  top: 0px;
}

.boxContainer p {
  @apply paragraph2;
  color: var(--color-red);
}

@media screen and (max-width: 860px) {
  .boxContainer {
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 520px) {
  .boxContainer {
    padding-bottom: 24px;
  }
}
