@import "../common/form-item";

.form-container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  input[type="file"] {
    display: none;
  }

  .ant-input {
    border-radius: 4px !important;
  }

}

.lib-form-item .ant-form-item-required::after {
  display: none;
}

.lib-form-item .ant-form-item-label {
  @include form-label-wrapper;

  label {
    @include form-label;
  }

  label::after {
    content: "";
    display: none !important;
  }

}

.lib-form-item.ant-form-item {
  margin: 0;
}

.form-container[data-size="lg"] label {
  @include form-label-lg;

}

.form-container[data-size="lg"] button {
  height: 54px !important;
  min-width: 171px !important;

}